header {
  height: 80px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav>ul {
      display: flex;
      gap: 20px;

      a {
        &:hover {
          color: var(--color-primary);
        }
      }
    }

    .buttons {
      display: flex;
      gap: 32px;

      button {
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: 600;
        border: 1px solid #BCD0E5;
        width: 110px;
        padding-block: 13px;
      }
    }
  }
}

#hero {
  .container {
    padding-block: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
      max-width: 500px;

      h2 {
        font-size: 44px;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        margin-block: 30px 20px;
      }

      button {
        width: 180px;
        height: 50px;
        padding: 13px;
      }
    }
  }
}

#features {
  min-height: 510px;
  text-align: center;
  background-image: url(assets/features-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;

  .features {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;

    .feature {
      img {
        width: 50px;
        height: 50px;
        border-radius: 15px;

        :nth-child(1)>& {
          background-color: #7752BE;
        }

        :nth-child(2)>& {
          background-color: #FAB005;
        }

        :nth-child(3)>& {
          background-color: #F03E3D;
        }

        :nth-child(4)>& {
          background-color: #4DADF7;
        }
      }
    }
  }
}

#professionals {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#managers {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      padding-left: 75px;
      position: relative;

      &::before {
        background-color: var(--color-primary);
        content: url(icons/tick.svg);
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        left: 0;
        top: 8.5px;
      }
    }
  }
}

#marketers {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

footer {
  .container {
    display: flex;
    justify-content: space-between;
  }
}
