header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav>ul {
      display: flex;
      gap: 20px;
    }
  }
}

#hero {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#features {
  min-height: 510px;
  text-align: center;
  background-image: url(assets/features-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;

  .features {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;

    .feature {
      img {
        width: 50px;
        height: 50px;
        border-radius: 15px;

        :nth-child(1)>& {
          background-color: #7752BE;
        }

        :nth-child(2)>& {
          background-color: #FAB005;
        }

        :nth-child(3)>& {
          background-color: #F03E3D;
        }

        :nth-child(4)>& {
          background-color: #4DADF7;
        }
      }
    }
  }
}

#professionals {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#managers {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      padding-left: 75px;
      position: relative;

      &::before {
        background-color: var(--color-primary);
        content: url(icons/tick.svg);
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        left: 0;
        top: 8.5px;
      }
    }
  }
}

#marketers {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

footer {
  .container {
    display: flex;
    justify-content: space-between;
  }
}
